Repository SatcherInstitute/health-equity-tracker, pull requests merged in 2023-07, with the labels that each got.

#2268 Frontend stigma gender
  cspell.config.json
  frontend/package-lock.json
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/SimpleBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/cards/ui/GenderDataShortAlert.tsx
  frontend/src/charts/ChoroplethMap.tsx
  frontend/src/charts/SimpleHorizontalBarChart.tsx
  frontend/src/charts/TableChart.tsx
  frontend/src/charts/mapHelpers.ts
  frontend/src/charts/trendsChart/Axes.tsx
  frontend/src/charts/trendsChart/Index.tsx
  frontend/src/charts/trendsChart/TrendsTooltip.tsx
  frontend/src/charts/trendsChart/constants.ts
  frontend/src/charts/utils.ts
  frontend/src/data/config/DatasetMetadata.ts
  frontend/src/data/config/MetricConfig.ts
  frontend/src/data/providers/HivProvider.ts
  frontend/src/data/utils/Constants.ts
  frontend/src/data/utils/datasetutils.ts
  frontend/src/pages/DataCatalog/MethodologyTab.tsx
  frontend/src/reports/Report.tsx
  frontend/src/utils/MadLibs.ts
  frontend/src/utils/externalUrls.ts
  frontend/src/utils/globals.ts
  frontend/src/utils/hooks/useHIVLabelSuffix.tsx
Labels: feature request, frontend

#2183 BACKEND: Make HET tables by race by age for HIV deaths for future age-adjustment
  airflow/dags/cdc_hiv.py
  data/cdc_hiv/hiv_deaths/hiv-deaths-national-race_and_ethnicity-age.csv
  data/cdc_hiv/hiv_deaths/hiv-deaths-state-race_and_ethnicity-age.csv
  frontend/src/pages/DataCatalog/AgeAdjustmentTab.tsx
  python/datasources/cdc_hiv.py
  python/datasources/census_pop_estimates.py
  python/datasources/decia_2020_territory_population.py
  python/tests/data/cdc_hiv/golden_data/race_age_national_output.csv
  python/tests/data/cdc_hiv/hiv_deaths/hiv-deaths-national-race_and_ethnicity-age.csv
  python/tests/data/cdc_hiv/hiv_deaths/hiv-deaths-state-race_and_ethnicity-age.csv
  python/tests/datasources/test_cdc_hiv.py
Labels: Data, backend-calculations

#2279 FRONTEND: Update Screenshot functionality
  frontend/src/cards/CardWrapper.tsx
  frontend/src/cards/DisparityBarChartCard.tsx
  frontend/src/cards/MapCard.tsx
  frontend/src/cards/RateTrendsChartCard.tsx
  frontend/src/cards/ShareTrendsChartCard.tsx
  frontend/src/cards/SimpleBarChartCard.tsx
  frontend/src/cards/TableCard.tsx
  frontend/src/cards/UnknownsMapCard.tsx
  frontend/src/cards/ui/AltTableView.tsx
  frontend/src/cards/ui/CardOptionsMenu.tsx
  frontend/src/charts/Legend.tsx
  frontend/src/utils/hooks/useDownloadCardImage.tsx
Labels: feature request, cleanup, frontend
